
<div class="well">
	<center>
		<h1><strong>{{vehiclelist.0.category}}</strong></h1>
	</center>
	<table style="border:0.5px solid black; text-align:center; padding:1px; " >
	  <tr>
	    <th>Model</th>
	    <th>Brand</th>
	    <th>KM Age</th>
	    <th>Engine</th>
	    <th>Transmission</th>
	    <th>Fuel</th>
	    <th>Color</th>
	    <th>Price</th>
	    <th>Category</th>
	    <th>Firm</th>
	  </tr>
	{% for v in vehiclelist %}

	<tr>
	<td>{{v.model}}</td>
	<td>{{v.brand}}</td>
	<td>{{v.km}}</td>
	<td>{{v.engine}}</td>
	<td>{{v.transmission}}</td>
	<td>{{v.fuel}}</td>
	<td>{{v.color}}</td>
	<td>{{v.price}}</td>
	<td>{{v.category}}</td>
	<td>{{v.firm}}</td>
	</tr>
	{% endfor %}
	</table>
</div>
