{% extends "shop/base.html" %}
{% load static %}
{% block body %}
<div class="jumbotron">
  <h1 class="display-3">Category List</h1>
	<div class="list-group">
	{% for cat in categorylist %}
		{%if forloop.counter|divisibleby:2 %}
  		<a href="{% url "categoryvehiclelist" pk=cat.pk  %}" class="list-group-item list-group-item-action">
			{{ cat.name }} - {{ cat.description }}
		</a>
		{%else%}
  		<a href="{% url "categoryvehiclelist" pk=cat.pk  %}" class="list-group-item list-group-item-action active">
			{{ cat.name }} - {{ cat.description }}
		</a>
		{%endif%}
	{% endfor %}
	</div>
</div>
<center>

	  {% if rand == 1 %}
    		<img src="{% static "shop/ads/1.jpg" %}" alt="" style="height: 300px; width: 500px; display: block; margin:10px;">
	  {% elif rand == 2 %}
	  		<img src="{% static "shop/ads/2.jpg" %}" alt="" style="height: 300px; width: 500px; display: block; margin:10px;">
	  {% elif rand == 3 %}
	  		<img src="{% static "shop/ads/3.jpg" %}" alt="" style="height: 300px; width: 500px; display: block; margin:10px;">
	  {%endif%}

</center>

{% endblock %}
