{% extends "shop/base.html" %}
{% load bootstrap3%}
{% block body %}
<center>

	<form action="" method="post">
	{% csrf_token %}
	<h2> 
	Brand:	{{vehicle.brand }}
	&nbsp;
	&nbsp;
	Price:	{{vehicle.price }} TL
	</h2>

	<img src="{{ vehicle.photo.url }}" width="800" height="600">
	<br>

	<div class="alert alert-dismissible alert-danger col-lg-4">

		Are you sure you want to buy this car for {{vehicle.price}} TL ?
		<br>	
	<input type="submit" class="btn btn-success" value="Buy"/>
	</form>
</div>
</center>
{% endblock %}
