
{% extends "shop/base.html" %}
{% block body %}

<form action="" method="POST">
    {% csrf_token %}
    Username : {{ form.username }}<br>
    First Name : {{ form.first_name }}<br>
    Last Name : {{ form.last_name }}<br>
    Email : {{ form.email }}<br>
    Role : {{ form.role }}<br>
    Firm : {{ form.firm }}<br>
    GSM : {{ form.gsm }}<br>
    Password : {{ form.password1 }}<br>
    Password again: {{ form.password2 }}

    <button type="submit">Signup</button>
</form>

{% endblock %}
{#('username', 'first_name', 'last_name', 'email', 'role', 'firm', 'gsm',  'password1', 'password2')#}