{% extends "shop/base.html" %}
{% block body %}
	{% for v in vehicle%}
<center>
<div class="card mb-3" style="max-width: 40rem;">
  <h3 class="card-header">{{v}}</h3>
  <div class="card-body">
    <h5 class="card-title">{{v.description}}</h5>
    <h6 class="card-subtitle text-muted">{{v.price}} TL</h6>
  </div>
  <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush" style="text-align:left;">
    <li class="list-group-item">Model : {{v.model}}</li>
    <li class="list-group-item">Brand : {{v.brand}}</li>
    <li class="list-group-item">Km : {{v.km}}</li>
	<li class="list-group-item">Engine : {{v.engine}}</li>
	<li class="list-group-item">Transmission : {{v.transmission}}</li>
	<li class="list-group-item">Fuel : {{v.fuel}}</li>
    <li class="list-group-item">Color : {{v.color}}</li>
    <li class="list-group-item">Category : {{v.category}}</li>
    <li class="list-group-item">Firm : {{v.firm}}</li>
  </ul>
  <div class="card-body">
    <a class="btn btn-outline-warning" href="{% url "vehiclepdf" pk=v.pk %}"> Get this page as a PDF! </a>
  </div>
  <div class="card-footer text-muted">
	  {% if user.is_authenticated %}
	 	 <a class="btn btn-secondary btn-lg btn-block" href="{% url "vehicledelete" pk=v.pk %}">Buy</a>
	  {%else%}
	  	<a class="btn btn-secondary btn-lg btn-block" href="{% url "login" %}">Please login to buy something</a>
	  {%endif%}

  </div>
</div>
	</center>

<div class="well">

	{{v}} - <a href="{% url "updatevehicle" pk=v.pk %}">Edit</a> - <a href="{% url "vehicledelete" pk=v.pk %}">Buy</a>
	</br>
	<a class="btn btn-outline-warning" href="{% url "vehiclepdf" pk=v.pk %}"> Get this page as a PDF! </a>
{% endfor %}
</div>


{% endblock %}
